{{> post-info post}}

{{#if loggedIn}}
<form action="" class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
    <button type="button" class="upvote-btn">Upvote</button>
  </div>
</form>
{{else}}
<div class="comment-danger">
  Please
  <a href="/login">log in</a>
  to comment or vote on posts
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
{{/if}}